## Task 2.a

In [1]:
import numpy as np
from scipy import stats
import pandas as pd

# Calculate mean and standard deviation
sample_mean = 712.1
sample_std = 23.2  # ddof=1 for sample standard deviation

# Set confidence level and calculate margin of error
confidence_level = 0.95
alpha = 1 - confidence_level
z_critical = stats.norm.ppf(1 - alpha / 2)
margin_of_error = z_critical * (sample_std / np.sqrt(400))

# Calculate confidence interval
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)

print("Sample Mean:", sample_mean)
print("Margin of Error:", margin_of_error)
print("Confidence Interval:", confidence_interval)

Sample Mean: 712.1
Margin of Error: 2.2735582220664625
Confidence Interval: (709.8264417779336, 714.3735582220664)

## Task 2.b

In [2]:
# Calculate mean and standard deviation
sample_mean = 721.8-710.9
sample_std_1 = 24.4 
sample_std_2 = 20.6
n1 = 150
n2=250

# Set confidence level and calculate margin of error
confidence_level = 0.95
alpha = 1 - confidence_level
z_critical = stats.norm.ppf(1 - alpha / 2)
margin_of_error = z_critical * (np.sqrt(sample_std_1**2/n1 + sample_std_2**2/n2))

# Calculate confidence interval
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)

print("Sample Mean:", sample_mean)
print("Margin of Error:", margin_of_error)
print("Confidence Interval:", confidence_interval)

Sample Mean: 10.899999999999977
Margin of Error: 4.665581637608406
Confidence Interval: (6.234418362391572, 15.565581637608382)

## Task 4

In [3]:
# Replace 'your_file.dat' with the path to your DAT file
file_path = 'C:/Users/Popov/Documents/NES_studies/Python/Statistics/HA1/ps1.dat'

# Specify the delimiter used in your DAT file, for example, '\t' for tab-delimited
delimiter = '\t'

# Read the DAT file into a pandas DataFrame
df = pd.read_table(file_path, delimiter)

# Display the DataFrame
df.rename(columns={'0.019968362039041843': 'values'}, inplace=True)
new_row = {'values': 0.019968362039041843}
df = df.append(new_row, ignore_index=True)
df

C:\Users\Popov\AppData\Local\Temp\ipykernel_8972\1963651850.py:8: FutureWarning: In a future version of pandas all arguments of read_table except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_table(file_path, delimiter)
C:\Users\Popov\AppData\Local\Temp\ipykernel_8972\1963651850.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

      values
0   0.262148
1   1.289934
2   0.670647
3  -0.581023
4   1.254245
5   0.396146
6   0.689000
7   1.357607
8   0.769617
9   0.490409
10  0.252373
11  2.486082
12  0.460907
13  1.540601
14  0.082013
15  2.028932
16  1.604450
17  2.177173
18 -0.312903
19  0.032184
20  0.798745
21  0.175037
22  0.966991
23 -0.705678
24 -0.542593
25 -0.513138
26  2.010124
27  0.972881
28  0.038114
29  0.019968

### Exact confidence interval

Using Student distrubution.

In [4]:
sample_mean = df['values'].mean()
sample_std = st = df['values'].std()

# Set the confidence level and degrees of freedom
confidence_level = 0.95
alpha = 1 - confidence_level
degrees_of_freedom = len(df['values']) - 1

# Calculate the margin of error
margin_of_error = stats.t.ppf((1 - alpha / 2), degrees_of_freedom) * (sample_std / np.sqrt(len(df['values'])))

# Calculate the confidence interval
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)

# Print or use the confidence interval
print(f"Confidence Interval: {confidence_interval}")
print(f"Sample mean: {sample_mean}")
print(f"Sample standard deviation: {sample_std}")
print(f"Number of observations: {len(df['values'])}")
print(f"T-stat (0.025): { stats.t.ppf((1 - alpha / 2), degrees_of_freedom) }")
print(f"T-stat (0.025): { -stats.t.ppf((1 - alpha / 2), degrees_of_freedom) }")

Confidence Interval: (0.3482187550049923, 0.9965141996286013)
Sample mean: 0.6723664773167968
Sample standard deviation: 0.8680835433665997
Number of observations: 30
T-stat (0.025): 2.045229642132703
T-stat (0.025): -2.045229642132703

### Approximate confidence interval

Using standard normal distribution.

In [5]:
sample_mean = df['values'].mean()
sample_std = st = df['values'].std()

# Set the confidence level and degrees of freedom
confidence_level = 0.95
alpha = 1 - confidence_level
degrees_of_freedom = len(df['values']) - 1

# Calculate the margin of error
margin_of_error = stats.norm.ppf(1 - alpha / 2) * (sample_std / np.sqrt(len(df['values'])))

# Calculate the confidence interval
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)

# Print or use the confidence interval
print(f"Confidence Interval: {confidence_interval}")
print(f"Sample mean: {sample_mean}")
print(f"Sample standard deviation: {sample_std}")
print(f"Number of observations: {len(df['values'])}")
print(f"T-stat (0.025): { stats.norm.ppf(1 - alpha / 2) }")
print(f"T-stat (0.025): { -stats.norm.ppf(1 - alpha / 2) }")

Confidence Interval: (0.36173247890704496, 0.9830004757265486)
Sample mean: 0.6723664773167968
Sample standard deviation: 0.8680835433665997
Number of observations: 30
T-stat (0.025): 1.959963984540054
T-stat (0.025): -1.959963984540054

## Task 5.a

### For S&P-500

In [6]:
# pip install yfinance
import yfinance as yf
# Set the ticker symbol for S&P 500
ticker_symbol = "^GSPC"

# Set the start and end dates for the data
start_date = "2017-05-24"
end_date = "2022-05-24"

# Download the data
sp500_data = yf.download(ticker_symbol, start=start_date, end=end_date)
sp500_data = sp500_data.sort_values(by='Date')

# Display the downloaded data
sp500_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-05-24,2401.409912,2405.580078,2397.989990,2404.389893,2404.389893,3389240000
2017-05-25,2409.540039,2418.709961,2408.010010,2415.070068,2415.070068,3538210000
2017-05-26,2414.500000,2416.679932,2412.199951,2415.820068,2415.820068,2806930000
2017-05-30,2411.669922,2415.260010,2409.429932,2412.909912,2412.909912,3205860000
2017-05-31,2415.629883,2415.989990,2403.590088,2411.800049,2411.800049,4518040000

In [7]:
sp500_prices = sp500_data['Close'] # we need it

### For sber

In [8]:
# Set the ticker symbol for Sberbank
ticker_symbol = "SBER.ME"  # Assuming Moscow Exchange (ME) for Sberbank

# Set the start and end dates for the data
start_date = "2017-05-24"
end_date = "2022-05-24"

# Download the data
sber_data = yf.download(ticker_symbol, start=start_date, end=end_date)
sber_data = sber_data.sort_values(by='Date')

# Display the downloaded data
sber_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-05-24,166.800003,168.479996,162.509995,165.699997,99.818581,46892442
2017-05-25,166.500000,166.949997,163.529999,164.050003,98.824623,34373452
2017-05-26,163.800003,163.800003,160.619995,160.699997,96.806557,46063128
2017-05-29,161.000000,164.220001,160.690002,163.899994,98.734268,28764933
2017-05-30,163.149994,163.449997,161.169998,161.639999,97.372826,22672890

In [9]:
sber_prices = sber_data['Close'] # we need it

# to see the last non-nan value - it's 2022-05-24 - count 5 years from here

# last_non_null_index_s = sber_prices.last_valid_index()
# last_non_null_index_s

### For Aeroflot

In [10]:
# Set the ticker symbol for Aeroflot
ticker_symbol = "AFLT.ME"

# Set the start and end dates for the data
start_date = "2017-05-24"
end_date = "2022-05-24"

# Download the data
aeroflot_data = yf.download(ticker_symbol, start=start_date, end=end_date)
aeroflot_data = aeroflot_data.sort_values(by='Date')
# Display the downloaded data
aeroflot_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-05-24,194.949997,196.100006,192.199997,193.800003,164.449722,2198818
2017-05-25,194.050003,196.199997,193.000000,195.149994,165.595276,1646203
2017-05-26,195.850006,197.100006,189.399994,190.100006,161.310074,4159701
2017-05-29,190.050003,190.050003,184.449997,189.500000,160.800949,2868101
2017-05-30,189.850006,193.300003,187.000000,191.050003,162.116211,2479802

In [11]:
aeroflot_prices = aeroflot_data['Close'] # we need it

# to see the last non-nan value - it's 2022-05-24 - count 5 years from here (same as before)

last_non_null_index_a = aeroflot_prices.last_valid_index()
last_non_null_index_a

Timestamp('2022-05-23 00:00:00')

### Exchange rate

In [12]:
# Define the ticker symbol for USD to RUB (in fact, it's the opposite RUB/USD - if prices in rub
# are devided by it- we get usd)
ticker = 'USDRUB=X'

# Set the start and end dates for the data
start_date = "2017-05-24"
end_date = "2022-05-24"

# Download historical data
ex_r_data = yf.download(ticker, start=start_date, end=end_date)
ex_r_data = ex_r_data.sort_values(by='Date')

# Extract the historical closing prices
ex_r = ex_r_data['Close']
ex_r

[*********************100%%**********************]  1 of 1 completed

Date
2017-05-24    56.303699
2017-05-25    56.345901
2017-05-26    56.801399
2017-05-29    56.481499
2017-05-30    56.462200
                ...
2022-05-17    64.589996
2022-05-18    64.964996
2022-05-19    64.214996
2022-05-20    62.090000
2022-05-23    62.465000
Name: Close, Length: 1301, dtype: float64

### Returns

In [13]:
df_shares = {
    "sp500_p" : sp500_prices,
    "sber_p" : sber_prices/ex_r, #corrected to the exchange rate
    "aeroflot_p" : aeroflot_prices/ex_r #corrected to the exchange rate
                   }
df_shares = pd.DataFrame(df_shares)

Arithmetic returns: $\frac{P_t-P_{t-1}}{P_t}$

In [14]:
df_shares['sp500_r'] = (df_shares['sp500_p'].diff() / df_shares['sp500_p'].shift(1)) * 100
df_shares['sber_r'] = (df_shares['sber_p'].diff() / df_shares['sber_p'].shift(1)) * 100
df_shares['aeroflot_r'] = (df_shares['aeroflot_p'].diff() / df_shares['aeroflot_p'].shift(1)) * 100
print(f"Number of missed values: {df_shares.isnull().sum()}") 
df_shares

Number of missed values: sp500_p        45
sber_p         68
aeroflot_p     68
sp500_r        91
sber_r        112
aeroflot_r    112
dtype: int64

                sp500_p    sber_p  aeroflot_p   sp500_r    sber_r  aeroflot_r
Date
2017-05-24  2404.389893  2.942968    3.442047       NaN       NaN         NaN
2017-05-25  2415.070068  2.911481    3.463428  0.444195 -1.069924    0.621170
2017-05-26  2415.820068  2.829156    3.346749  0.031055 -2.827601   -3.368908
2017-05-29          NaN  2.901835    3.355081       NaN  2.568946    0.248967
2017-05-30  2412.909912  2.862800    3.383680       NaN -1.345178    0.852403
...                 ...       ...         ...       ...       ...         ...
2022-05-17  4088.850098  1.977860    0.470042  2.016963  9.366466    6.771459
2022-05-18  3923.679932  1.925960    0.462711 -4.039526 -2.624057   -1.559676
2022-05-19  3900.790039  1.955929    0.460329 -0.583378  1.556060   -0.514816
2022-05-20  3901.360107  2.022870    0.476083  0.014614  3.422445    3.422445
2022-05-23  3973.750000  2.010726    0.473225  1.855504 -0.600336   -0.600336

[1304 rows x 6 columns]

### Sample mean and std calculation

In [31]:
df_shares_stat = {
    "indexes" : ['S&P 500', 'SBER', 'AFTL'],
    "mean" : [df_shares['sp500_r'].mean(), df_shares['sber_r'].mean(),  df_shares['aeroflot_r'].mean()],
    "std" : [df_shares['sp500_r'].std(), df_shares['sber_r'].std(), df_shares['aeroflot_r'].std()]
                   }
df_shares_stat = pd.DataFrame(df_shares_stat) 
df_shares_stat

   indexes      mean       std
0  S&P 500  0.054180  1.280410
1     SBER  0.053390  2.406740
2     AFTL -0.068263  2.790394

### Task 5.b

Calculating confidence intervals

In [40]:
# Set the confidence level and degrees of freedom
confidence_level = 0.95
alpha = 1 - confidence_level
degrees_of_freedom = len(df['values']) - 1
n = len(df_shares)

# Calculate the margins of errors
margin_of_error_sp = stats.norm.ppf(1 - alpha / 2) * (df_shares['sp500_r'].std() / np.sqrt(n))
margin_of_error_sber = stats.norm.ppf(1 - alpha / 2) * (df_shares['sber_r'].std() / np.sqrt(n))
margin_of_error_aero = stats.norm.ppf(1 - alpha / 2) * (df_shares['aeroflot_r'].std() / np.sqrt(n))

# Calculate the confidence intervals
confidence_interval_sp = \
(df_shares['sp500_r'].mean() - margin_of_error_sp, df_shares['sp500_r'].mean() + margin_of_error_sp)

confidence_interval_sber = \
(df_shares['sber_r'].mean() - margin_of_error_sber, df_shares['sber_r'].mean() + margin_of_error_sber)

confidence_interval_aero = \
(df_shares['aeroflot_r'].mean() - margin_of_error_aero, df_shares['aeroflot_r'].mean() + margin_of_error_aero)

In [41]:
# Print or use the confidence interval
print(f"Confidence Interval, S&P 500: {confidence_interval_sp}")
print(f"Confidence Interval, SBER: {confidence_interval_sber}")
print(f"Confidence Interval, AFTL: {confidence_interval_aero}")

Confidence Interval, S&P 500: (-0.015315820277623293, 0.12367572309820332)
Confidence Interval, SBER: (-0.07723866872200875, 0.1840187027013806)
Confidence Interval, AFTL: (-0.21971517710839195, 0.08318866877367416)

### Task 5.c

In [42]:
# Calculate mean and standard deviation
sample_mean = df_shares['sber_r'].mean() - df_shares['aeroflot_r'].mean()
sample_std_1 = df_shares['sber_r'].std() 
sample_std_2 = df_shares['aeroflot_r'].std()
n1 = n
n2 = n

# Set confidence level and calculate margin of error
confidence_level = 0.95
alpha = 1 - confidence_level
z_critical = stats.norm.ppf(1 - alpha / 2)
margin_of_error = z_critical * (np.sqrt(sample_std_1**2/n1 + sample_std_2**2/n2))

# Calculate confidence interval
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)

print("Confidence Interval, SBER - AFTL:", confidence_interval)

Confidence Interval, SBER - AFTL: (-0.07835057503922543, 0.32165711735331504)