# **<center> Introduction to Python for Practical Problems </center>**
# **<center> New Economic School, MAE 2025 </center>**
## **<center> Section 2 </center>**

План:

* Написание функций
* Обработка исключений
* Лямбда-выражения
* Декораторы
* Написание классов

# 1. Функции

## 1.1. Общие правила написания функций

Очень важной частью работы с Python является написание функций. Функция берет на вход некий набор аргументов и возвращает определенное значение. Функция определяется оператором ```def```, дальше прописывается название функций и в скобках указываются ее аргументы.

При значительном объеме кода у функции правилом хорошего тона является написание комментариев, хотя бы документационной строк. В документационной строке обычно пишут что делает функция, описывают ее аргументы (включая их типы), а также что функция возвращает (включая тип возвращаемого).

Если хочется оставить какой-то из аргументов равным какому-то значению по умолчанию, это можно сделать через знак "равно". Однако вы должны помещать аргумнеты, для которых указываете значения по умолчанию, после тех элементов, для которых этого не делаете.

In [1]:
def myfunc_1(a, b, c=True):
    
    """
    Docstring for the function where you can provide people with the explanation of what your function does and what are its arguments
    
    Parameters
    ---------
    a : float
        The first number of summation
    b : float
        The second number of summation
    c : bool, optional
        The value that stands for a sign of summation. True stands for a positive sign. The default value is True
    """
    
    sum_ab = a + b

    if c:
        return sum_ab
    else:
        return -1 * sum_ab

Как вызывать функцию:

In [2]:
myfunc_1(a=3, b=2), myfunc_1(a=3, b=2, c=True), myfunc_1(a=3, b=2, c=False)

(5, 5, -5)

In [3]:
mydict = {'a': 3, 'b': 2, 'c': False}

myfunc_1(**mydict)

-5

Писать ```DocString'и``` совершенно необязательно. Однако для человека, который ранее не был знаком с данной функцией, это способствует быстрому пониманию того, что происходит внутри функции и того, какие именно аргументы нужно подавать вовнутрь для корректной работы функции.

Для того, чтобы посмотреть на описание функции, нужно сделать следующее:

1. Прописать функцию в ячейке. В нашем случае: ```myfunc_1()```
2. Встать вовнутрь скобочек, внутри которых прописываются аргументы
3. Нажать сочетание клавиш ```Shift``` ```+``` ```Tab```

В открывшемся окошке можно узнать все то, про что разработчик функции написал в ```DocString```.

## 1.2. "Звездочки", позиционные и именованные аргументы

Операторы, помеченные `*` (asterisks), позволяют Вам (как одна из возможностей) **распаковывать** элементы "одним скопом". В примере ниже, Вы присваиваете переменным **a**, **b**, и **c** значения из списка. 

Допустим, Вы бы хотели присваивать **a** первое значение из списка, **c** - последнее, а **b** - все промежуточные. Сделать это можно через добавление оператора `*` слева к переменной. 

Также через `print(..)` вы можете вывести все элементы списка (не прописывая их через запятую с помощью индексации по списку) путем добавления `*` слева от переменной.

In [4]:
a, b, c = [1, 2, 3]

print(f'a is {a}, b is {b}, and c is {c}')

a, *b, c = [1, 2, 3, 4, 5, 6]

print(f'a is {a}, b is {b}, and c is {c}')

print()

list_1 = [1, 2, 3, 4]

print(list_1)
print(*list_1)

print()

print('1st element is {}, 2nd element is {}, 3rd element is {}, 4th element is {}'.format(*list_1))

a is 1, b is 2, and c is 3
a is 1, b is [2, 3, 4, 5], and c is 6

[1, 2, 3, 4]
1 2 3 4

1st element is 1, 2nd element is 2, 3rd element is 3, 4th element is 4

Также можно схлопнуть два листа в один с помощью данного оператора

In [5]:
list_1 = [1, 2, 3, 4, 5]
list_2 = ['a', 'b', 'c', 'd']

list_3 = [*list_1, *list_2]

print(list_3)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

Распаковать элементы словаря тоже можно. Для этого необходимо воспользоваться выражением `**`.

In [6]:
dict_1 = {'a': 1, 'b': 2, 'c': 3}
dict_2 = {'d': 11, 'e': 22, 'f': 33}

dict_3 = {**dict_1, **dict_2}

print(dict_3)

{'a': 1, 'b': 2, 'c': 3, 'd': 11, 'e': 22, 'f': 33}

## 1.3. Неопределенное число аргументов в функции

Часто случается, что часть аргументов у функции (и их количество) определена заранее, а часть аргументов может добавляться (притом, в неизвестном количестве). 

Для этого Вы можете воспользоваться операторами `*` (для позиционный аргументов) и `**` (для именованных аргументов).

* Позиционные аргументы - аргументы, передаваемые в вызов в определённой последовательности (а также на определенных позициях), без указания их имён. 
* Именованные аргументы - аргументы, передаваемые в вызов с указанием их имён.
* Опциональный элемент (значение которого проставлено по дефолту) также является именованным.

Также стоит помнить, что в функцию сперва подаются позиционные аргументы, а потом уже именованные. Иначе возникнет ошибка, как в примере ниже:

In [7]:
def myfunc_2(person, age=27):
    pass

# Здесь person - позиционный элемент, а age - именованый (у него есть дефолтное значение, которому age будет равен,
# если иного не будет задано)

In [8]:
# def myfunc_2(age=27, person):
#     pass

### 1.3.1. Позиционные аргументы

Неопределенное число позиционных аргументов можно передать в функцию через добавление `*` слева от общего названия этих элементов. 

Обычно, их именуют через `*args` в аргументах функции (без `*` в теле функции). При этом название вы можете придумать сами.

Создадим функцию, которая выводит транзакции для человека (транзакции подаются как аргументы, число которых не определено - через `*transactions`)

In [9]:
def print_transcactions(person, *transactions):
    
    print(f'{person} did the following transactions: \n')

    for i in transactions:

        print(i)

In [10]:
print_transcactions('Dereck', -100, 50, 100)

Dereck did the following transactions:

-100
50
100

Число аргументов может быть и больше (и меньше)

### 1.3.2. Именованные аргументы

Также вы можете передавать неопределенное число именованных аргументов в функцию. В данном случае, функция будет "воспринимать" это как передачу ей словаря (ключ - имя аргумента, а значение - значение, соответствующее имени)

Обычно, именуют через `**kwargs`, но Выбор имени целиком за Вами.

В примере ниже создаем функцию, которая возвращает какую-то информацию о человеке. При этом число аргументов, которые характеризуют эту информацию, неопределено. Итерирование идёт через словарь и его элементы (где элемент - пара из ключа и значения).

In [11]:
def print_person_info(person, **kwargs):

    print(f'The info for {person} is the following: \n')

    for i, j in kwargs.items():
        
        print(f'{i} is {j}')

In [12]:
print_person_info('Adam Smith', 
                  age=25, 
                  city='Boston')

The info for Adam Smith is the following:

age is 25
city is Boston

А можно указать и больше именованных аргументов

In [13]:
print_person_info('Jane Black', 
                  age=23, 
                  city='New-York', 
                  highest_degree='Masters', 
                  university='University of New-York', 
                  maritual_status='Single')

The info for Jane Black is the following:

age is 23
city is New-York
highest_degree is Masters
university is University of New-York
maritual_status is Single

Также можно миксовать позиционные и именованные аргументы. Однако не забывайте, что именованные аргументы идут за позиционными.

Ниже функция выводит траты человека. Если аргумент `show_new = True`, то к тратам прибавляются новые транзакции (которые подаются в неопределенном количестве через `*new_transactions`

In [14]:
def print_person_expences(person, expences, *new_transactions, show_new=True):

    result = expences

    if show_new:
        
        for t in new_transactions:
            
            result += t
            
        print(f'{result} spent by {person}')
            
    else:
        print(f'{result} spent by {person}')
        
#     return result

Если были новые транзакции

In [15]:
sum_transac = print_person_expences('John Black', 
                                    345, 
                                    10, 40, 20, 30)

445 spent by John Black

Если были новые транзакции, **но прибавлять мы их не хотим**

In [16]:
sum_transac = print_person_expences('John Black', 
                                    345, 
                                    10, 40, 20, 30, 
                                    show_new=False)

345 spent by John Black

### 1.3.3. Совместим все, про что поговорили

In [17]:
def print_person_expences(person, expences, *new_transactions, show_new=True, **additional_info):

    result = expences

    if show_new:
        
        for t in new_transactions:
            
            result += t

    print(f'{result} spent by {person}')

    for i, j in additional_info.items():
        
        print(f'{i} is {j}')

#     return result

In [18]:
print_person_expences('John Black', 
                      345, 
                      10, 15, 40, 10, 
                      show_new=True, 
                      n_transactions=10, 
                      share_payed_with_card=0.7)

420 spent by John Black
n_transactions is 10
share_payed_with_card is 0.7

# 2. Обработка исключений

Обработка исключений позволяет Вам выполнить Ваш код без прерывания по той или иной ошибке. Такой блок может быть важен, когда Вам хочется так или иначе (несмотря на возможные ошибки) получить результат работы функции.

Допустим, Вы собираете информацию по большому количеству сайтов. На 52-м сайте Ваш код падает из-за того, что происходит какая-то ошибка (допустим, сайт распознает Вас как бота). Возможно, Ваш код работает несколько дней (в которые Вы хотели поехать на дачу). Вы уехали, Ваш код упал через полдня, обнаружили Вы это по приезде. 

Хотелось бы давать указание в коде, что делать (какой код исполнять) при возникновении ошибки. А также что делать, если все ОК.

Такие вещи можно делать через операторы `try` и `except`.

## 2.1. Использование `try` и `except`

В блок кода под `try:` мы подаем тот код, который мы бы хотели исполнить при отсутствии ошибок.

В блок кода под `except ErrorTypeName:` мы подаем тот код, который мы бы хотели исполнить при наличии ошибки **"ErrorTypeName"** (виды ошибок могут быть разными - деление на ноль, неверный тип данных, нехватка памяти, синтаксическая ошибка и т.д.)

Общий список ошибок можно глянуть, например, [здесь](https://docs.python.org/3/library/exceptions.html)

В функции ниже мы считаем результат попарного деления двух списков (первый список из числетелей, второй - из знаменателей)

Если знаменатель равен нулю, то эта ошибка будет обработана как исключение, для нее выполнится следующая пара комманд:

```
results.append('division by zero')
print('Cannot divide by zero')
```

Если одно из чисел не числовое, то исключение ошибки приведет к исполнению следующего кода:

```
print('Please enter a number')
results.append('not a number')
```

In [19]:
def pairwise_division(numerators, denominators):

    results = []

    for i, j in zip(numerators, denominators):

        try:
            r = round(i/j, 2)
            results.append(r)
        except ZeroDivisionError:
            results.append('division by zero')
            print("Cannot divide by zero")
        except TypeError:
            print("Please enter a number")
            results.append('Not a number')

    return results

In [20]:
list_1 = [1, 2, 3]
list_2 = [2, 3, 4]

result = pairwise_division(list_1, list_2)

print(*result, sep='\n')

0.5
0.67
0.75

А теперь посмотрим, что будет если знаменатель равен 0.

In [21]:
list_1 = [1, 2, 3]
list_2 = [2, 3, 0]

result = pairwise_division(list_1, list_2)

print(*result, sep='\n')

Cannot divide by zero
0.5
0.67
division by zero

Если тип одного из чисел не принадлежит валидному типу данных.

In [22]:
list_1 = [1, 2, 3]
list_2 = [2, 3, 'd']

result = pairwise_division(list_1, list_2)

print(*result, sep='\n')

Please enter a number
0.5
0.67
Not a number

In [23]:
result

[0.5, 0.67, 'Not a number']

Мы заранее можем не знать, какая ошибка нас ждет (мы можем забыть все дефолтные ошибки, или же такая ошибка может не существовать). Для этого в качестве имени ошибки можно после `except` подать более общий вариант "**Exception**".

Стоит отметить, что более частные ошибки обрабатываются в первую очередь.

In [24]:
def pairwise_division(numerators, denominators):

    results = []

    for i, j in zip(numerators, denominators):

        try:
            r = round(i/j, 2)
            results.append(r)
        except ZeroDivisionError:
            results.append('Division by zero')
            print("Cannot divide by zero")
        except Exception:
            results.append('Some other error')
            print("Other error occured")

    return results

In [25]:
list_1 = [1, 2, 3]
list_2 = [2, 3, [6]]

result = pairwise_division(list_1, list_2)

print(*result, sep='\n')

Other error occured
0.5
0.67
Some other error

## 2.2. Использование `raise`

Также можно "поднимать" ошибку при выполнении (не выполнении) заданного Вами условия через конструкцию `raise ErrorName('some optional text')`

In [26]:
def pairwise_division(numerators, denominators):

    results = []

    for i, j in zip(numerators, denominators):

        try:
            if i == 3:
                raise ValueError('3 in numerator is not allowed')
            else:
                r = round(i/j, 2)
                results.append(r)
        except ZeroDivisionError:
            results.append('Division by zero')
            print("Cannot divide by zero")
        # Из-за того, что мы можем обрабатывать такую ошибку, про которую написали в raise, наш код не падает
        except Exception:
            results.append('Some other error')
            print("Other error occured")

    return results

In [27]:
list_1 = [1, 2, 3, 3]
list_2 = [2, 3, 'd', 4]

result = pairwise_division(list_1, list_2)

print()

print(*result, sep='\n')

Other error occured
Other error occured

0.5
0.67
Some other error
Some other error

Поправим немного функцию и будем обрабатывать только 2 заранее определенных вида ошибок. Можно увидеть, что ошибка для 4-й пары элементов обработана не будет, т.к. относится к другому классу/типу ошибок - **ValueError**, такие ошибки мы не обрабатываем в нашей функции.

Ошибка в коде также выведет текст, который мы ей задали (его задавать не обязательно)

In [28]:
def pairwise_division(numerators, denominators):

    results = []

    for i, j in zip(numerators, denominators):

        try:
            if i == 3:
                raise ValueError('3 in numerator is not allowed')
            else:
                r = round(i/j, 2)
                results.append(r)
        except ZeroDivisionError:
            results.append('division by zero')
            print("Cannot divide by zero")
        # TypeError - это определенная ошибка, которая не распознает ValueError, поэтому код падает
        except TypeError:
            results.append('some other error')
            print("Other error occured")

    return results

In [29]:
list_1 = [1, 2, 3, 3]
list_2 = [2, 3, 'd', 4]

# result = pairwise_division(list_1, list_2)
# print(result)

# 3. Лямбда-выражения (Лямбда-функции)

## 3.1. Общие правила написания лямбда-функций

Лямбда выражения являются укороченными и анонимными функциями. 

Их использовани в ряде случаев более удобно, а также компактно. Использовать их можно внутри функций (как и обычные функции), передавать как аргументы (как и обычные функции), принимать у них на вход такие же функции (как и для обычных функций)

Конструкция лямбда-выражения следующая: "**keyword** arguments: *expression*", где **keyword = lambda**. Пример простенькой функции возведения в квадрат ниже.

In [30]:
def take_square(x):

    return x ** 2

take_square(2)

4

In [31]:
take_square = lambda x: x**2

take_square(2)

4

Можно даже не определять, а сразу взять

In [32]:
(lambda x: x**2)(2)

4

Можно и несколько параметров передавать

In [33]:
take_power = lambda x, y: x**y

take_power(2, 3)

8

## 3.2. Лямбда-функции с условиями

Так можно добавлять условия

In [34]:
take_power = lambda x, y: x**y if x != 0 else 'error'

print(take_power(2, 3))
print(take_power(0, 2))
print(take_power(2, 1))

8
error
2

Лямбда-выражение возвращает какое-то значение, поэтому для переданного массива нам надо вернуть какое-то значение (а не какой-то массив)

In [35]:
sum_of_squares = lambda x: sum(i**2 for i in x)

sum_of_squares([1, 2, 3])

14

Также можно лямбда выражение прописывать внутри функции. Функция ниже будет возвращать лямбда выражение.

In [36]:
def take_power(power):
    return lambda x : x**power

result_fnc = take_power(3)

print(result_fnc(2))
print(result_fnc(3))

8
27

Также лямбда выражение можно делать иерархическим

In [37]:
hierarchical_fnc = lambda x, fnc: x**3 + fnc(x)

hierarchical_fnc(3, lambda x: -x)

24

Но! Лямбда выражение нельзя аннотировать как обычную функцию в примере ниже (аннотированы типы переменных на входе и выходе)

In [38]:
def print_person(name: str, surname: str) -> str:
    
    return f"Person's name is {name} and surname is {surname}"

print_person('Jack', 'White')

"Person's name is Jack and surname is White"

## 3.3. Map, Filter, Reduce + Itertools

Есть ряд удобных встроенных методов - `map`, `filter`, а также некоторых других функций в библиотеках **`functools`** и **`itertools`**

Более подробно о методах определенных в них смотрите в документации: [itertools](https://docs.python.org/3/library/itertools.html)

`map` позволяет применить функцию (лямбда-выражение либо обычную функцию) к элементам массива. `map` возвращает объект класса **map**, по которому можно итерироваться. Чтобы перевести этот объект в список требуется накинуть `list(..)` поверх. Первым аргументом у `map` (а также у `filter` и `reduce`) идет функция, а вторым - массив (упрощение - идет iterable object)

Ниже пример работы `map` к списку, от которого мы хотим получить список квадратов элементов.

In [39]:
take_square = lambda x: x**2

list_1 = [1, 2, 3, 4, 5]

# take_square(list_1)

In [40]:
list_2 = list(map(take_square, list_1))
list_3 = list(map(lambda x: x ** 2, list_1))

print(list_2)
print(list_3)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

Массив также можно фильтровать с помощью функций и лямбда выражений как в примере ниже

In [41]:
list_1 = [i for i in range(1, 11)]

list_2 = list(filter(lambda x: (x%2==0), list_1))

print(list_1)
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

Также есть метод `reduce`, которому на вход подается несколько аргументов, где первый элемент это аккумулированный результат работы функции на предыдущих элементах, а второй аргумент - текущий элемент.

In [42]:
from functools import reduce

In [43]:
list_1 = [i for i in range(1, 11)]

result = reduce(lambda x,y: x+y, list_1)
print(result)

result = reduce(lambda x,y: x*y, list_1)
print(result)

55
3628800

`accumulate` в `itertools` позволяет Вам брать накопленные результата работы функции по массиву. Порядок аргументов отличен от предыдущих методов.

In [44]:
from itertools import accumulate

In [45]:
print(list_1)

result = list(accumulate(list_1, lambda x,y: x+y))

print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

Также в `itertool` есть куча полезных методов, которые можно посмотреть ниже, а также в документации выше.

In [46]:
from itertools import combinations, combinations_with_replacement, permutations

In [47]:
# комбинации из двух чисел из значений из списка
list(combinations([1, 2, 3, 4], 2))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [48]:
# комбинации из трех символов из элементов строки
list(combinations('ABCDE', 3))

[('A', 'B', 'C'),
 ('A', 'B', 'D'),
 ('A', 'B', 'E'),
 ('A', 'C', 'D'),
 ('A', 'C', 'E'),
 ('A', 'D', 'E'),
 ('B', 'C', 'D'),
 ('B', 'C', 'E'),
 ('B', 'D', 'E'),
 ('C', 'D', 'E')]

In [49]:
# комбинации из трех символов из элементов строки с повторениями 
list(combinations_with_replacement('ABC', 3))

[('A', 'A', 'A'),
 ('A', 'A', 'B'),
 ('A', 'A', 'C'),
 ('A', 'B', 'B'),
 ('A', 'B', 'C'),
 ('A', 'C', 'C'),
 ('B', 'B', 'B'),
 ('B', 'B', 'C'),
 ('B', 'C', 'C'),
 ('C', 'C', 'C')]

In [50]:
# варианты возможных перестановок
list(permutations('ABC'))

[('A', 'B', 'C'),
 ('A', 'C', 'B'),
 ('B', 'A', 'C'),
 ('B', 'C', 'A'),
 ('C', 'A', 'B'),
 ('C', 'B', 'A')]

# 4. Декораторы

Декораторы также являются удобным способом для изменения работы функции.

Допустим, у вас есть какая-то функция. Вам не хотелось бы переписывать ее снова, дописывая ей какие-то дополнительные возможности. Вам хотелось бы ее дополнить.

Для этого можно воспользоваться декорированием одной функции с помощью другой (а функция может быть аргументом другой функции + функция может быть определена внутри другой функции)

Для этого нам требуется декорирующая функция, которая на вход берет фукнцию, которую нужно изменить. Внутри декорирующей функции содержится функция-обёртка, которая выполняет какие-то дополнительные вещи + выполняет декорируемую функцию.

Мы посмотрим на примере ниже. Создадим массив данных, матрицу, где строка - какое-то наблюдение/объект/человек, а элементы строки - значения тех или иных переменных по этому наблюдению.

Далее определим вспомогательную функцию для подсчета попарного расстояния (в нашем случае, L1 норма или же Манхэттеновское расстояние)

In [51]:
import time

In [52]:
matrix_list = [[1, 2, 3], 
               [2, 3, 4], 
               [3, 4, 5], 
               [4, 5, 6], 
               [5, 6, 7], 
               [6, 7, 8]]

In [53]:
def distance_fnc(x, y):
    
    distance = 0
    
    for i, j in zip(x, y):
        
        distance += abs(i-j)
        
    return distance

Определим функцию, которая считает матрицу попарных расстояний (достаточно посчитать значения под или над диагональю)

In [54]:
def pairwise_distance(matrix_obs):

    l = len(matrix_obs)
    distance_matrix = []
    
    for i in range(l):
        distance_matrix.append([])
        
        for j in range(l):
            if i > j:
                distance = distance_fnc(matrix_obs[i], matrix_obs[j])
                distance_matrix[i].append(distance)
            else:
                distance_matrix[i].append(0)

    return distance_matrix

In [55]:
pairwise_distance(matrix_list)

[[0, 0, 0, 0, 0, 0],
 [3, 0, 0, 0, 0, 0],
 [6, 3, 0, 0, 0, 0],
 [9, 6, 3, 0, 0, 0],
 [12, 9, 6, 3, 0, 0],
 [15, 12, 9, 6, 3, 0]]

Создадим функцию-декоратор `measure_time` (название на Ваше усмотрение), которая на вход берет другую функцию, которую нужно изменить (функцию `pairwise_distance`). Мы бы хотели добавить в декорируемую функцию вывод времени работы кода.

Для этого внутри функции-декоратора создаем функцию-обёртку `wrapper_func` (название на Ваше усмотрение). Функция-обёртка замеряет время старта работы функции, исполняет функцию (которую ей передали - в частности, `pairwise_distance`), замеряет время конца работы функции, выводит затраченное время и результат (нельзя забывать про `return` внутри функции-обёртки). Чтобы передать в изменяемую функцию ее параметры, их также нужно передать в функцию-обёртку.

In [56]:
def measure_time(func):

    def wrapper_func(*args):
        
        start = time.time()
        result = func(*args)
        end = time.time()
        
        print(f'Time of execution is {end-start} seconds')
        
        return result

    return wrapper_func

Чтобы обернуть функцию `pairwise_distance` с помощью декоратора нужно поверх определения этой функции через оператор `@` прописать название декоратора.

In [57]:
@measure_time
def pairwise_distance(matrix_obs):

    l = len(matrix_obs)
    distance_matrix = []
    
    for i in range(l):
        distance_matrix.append([])
        
        for j in range(l):
            if i > j:
                distance = distance_fnc(matrix_obs[i], matrix_obs[j])
                distance_matrix[i].append(distance)
            else:
                distance_matrix[i].append(0)

    return distance_matrix

In [58]:
result = pairwise_distance(matrix_list)
result

Time of execution is 0.0 seconds

[[0, 0, 0, 0, 0, 0],
 [3, 0, 0, 0, 0, 0],
 [6, 3, 0, 0, 0, 0],
 [9, 6, 3, 0, 0, 0],
 [12, 9, 6, 3, 0, 0],
 [15, 12, 9, 6, 3, 0]]

Иначе пришлось бы делать как ниже

In [59]:
def pairwise_distance(matrix_obs):

    l = len(matrix_obs)
    distance_matrix = []
    
    for i in range(l):
        distance_matrix.append([])
        
        for j in range(l):
            if i > j:
                distance = distance_fnc(matrix_obs[i], matrix_obs[j])
                distance_matrix[i].append(distance)
            else:
                distance_matrix[i].append(0)

    return distance_matrix

Первая строчка, по сути, заменяет выражение с `@`

In [60]:
pairwise_distance = measure_time(pairwise_distance)
pairwise_distance(matrix_list)

Time of execution is 0.0 seconds

[[0, 0, 0, 0, 0, 0],
 [3, 0, 0, 0, 0, 0],
 [6, 3, 0, 0, 0, 0],
 [9, 6, 3, 0, 0, 0],
 [12, 9, 6, 3, 0, 0],
 [15, 12, 9, 6, 3, 0]]

Далее есть избитый пример про сэндвич, который мы хотим обернуть в начинку, а потом обернуть в хлеб

В этом примере используется несколько декораторов - `bread` и `ingredients`

In [61]:
def bread(func):
    def wrapper():
        print("</_______\>")
        func()
        print("<\_______/>")
    return wrapper

def ingredients(func):
    def wrapper():
        print("#помидорки#")
        func()
        print("~~~салат~~~")
    return wrapper

In [62]:
@bread
@ingredients
def sandwich(food = "--ветчина--"):
    print(food)
    
sandwich()

</_______\>
#помидорки#
--ветчина--
~~~салат~~~
<\_______/>

# 5. Классы

## 5.1. Общие правила написания классов

Одним из главных компонентов является объект. В Python все является объектами. Эти объекты принадлежат какому-то одному классу. Например, 3 может принадлежать классу целых чисел (вещественных чисел, положительных чисел и т.д.). На класс целых чисел определены те или иные операции (сложения, умножения, сравнения и т.д.). Однако для какой-то другой структуры данных/класса, операции (методы) могут быть отличны, а также их поведение может отличаться для объектов разных классов.

In [63]:
3.in([1, 2, 3])

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
C:\Users\Popov\AppData\Local\Temp\ipykernel_14940\4087311075.py:1: SyntaxWarning: invalid decimal literal
  3.in([1, 2, 3])

True

Класс Вы можете определить через ключевое слово `Class` не забыв про `:` в конце

Класс может содержать внутри себя какие-то функции - методы (в контексте классов - методы), а также переменные.

In [64]:
class MyClass:
    pass

Методы с двойным нижним подчеркиванием по бокам являются магическими (это устоявшееся название). Можно их также интерпретировать как базовые (в зависимости от того, где интерпретация и ассоциации для Вас легче). 

Эти методы являются специальными и не предполагают их вызов напрямую от объекта. Они позволяют вызывать их при применении каких-либо операций с объектами класса.

Метод **`__init__(self, ..)`** является инициализатором объекта. Объект определенного класса мы инициализируем какими-то значениями (у человека, например, есть имя и фамилия с возрастом, у товара - код на штрих-коде, срок годности и т.д.). Первым аргументом кладется аргумент **`self`**, который является ссылкой на конкретный экземпляр класса. Устоявшимся (но не обязательным) названием является **self**, и лучше придерживаться этого названия.

Определим класс `Person`, инициализируя его именем, фамилией и возрастом человека. **`self`** - ссылка объекта на себя же, записываем в него эти параметры.

Магический метод **`__str()__`** позволяет выводить какой-то результат, который мы в нем определяем при вызове `print(object_of_class_person)`

Метод `print_person_age(..)` принимает на вход также внешний параметр, city.

In [65]:
class Person:
    
    def __init__(self, name, surname, age):
        
        self.name = name
        self.surname = surname
        self.age = age
        
        print('A Person is added')

    def __str__(self):
        return f'Object for {self.name} {self.surname}'

    def print_person_age(self, city):
        print(f'The person is {self.age} years old and lives in {city}')

Создадим объект `person_1` класса `Person`

Нам не надо прописывать следующее, чтобы инициализировать объект:

```
person_1 = Person()
person_1.__init__('Suzie', 'Smith', 27)
```

Инициализация и передача параметров для инициализации происходит при определении объекта, как указано ниже

In [66]:
person_1 = Person(name='Suzie', 
                  surname='Smith', 
                  age=27)

A Person is added

Через `.` Вы можете посмотреть на аттрибуты объекта (методы и переменные)

In [67]:
person_1.surname

'Smith'

От объекта Вы можете взять метод, как в примере ниже

In [68]:
person_1.print_person_age('Kansas')

The person is 27 years old and lives in Kansas

А вот ниже результат работы магического методы **`__str(..)__`**

In [69]:
print(person_1)

person_1.__str__()

Object for Suzie Smith

'Object for Suzie Smith'

Как и говорилось - все в Python является объектом. Даже переменная, которой присвоено какое-то число. У нас есть ряд операций с числами - например, арифметическое сложение. Арифметическое сложение доступно через оператор `+`, за который, по сути, отвечает магический метод **`__add()__`**. Нам не требуется для сложения этот метод вызывать, если он определен в классе объекта.

In [70]:
a = 5

a + 4, a.__add__(4)

(9, 9)

Для класса строк этот же метод работает иначе

In [71]:
a = 'ab'
c = 'cd'

a + c

'abcd'

Можно проверить название класса (тоже магический метод)

In [72]:
c.__class__.__name__

'str'

In [73]:
a.__add__('cd')

'abcd'

## * 5.2. Наследование в классах

Более подробно про наследование прочитать можно, например, [тут](https://webdevblog.ru/nasledovanie-i-kompoziciya-rukovodstvo-po-oop-python/)

Одним из столпов ООП (объектно-ориентированное программирование) является наследование. 

Дочерний класс (подкласс) может наследовать те или иные методы (и аргументы) от родительского (суперкласс) класса

In [74]:
class Person:
    
    def __init__(self, name, surname, age):
        
        self.name = name
        self.surname = surname
        self.age = age
        
        print('A Person is added')

    def __str__(self):
        return f'Object for {self.name} {self.surname}'

    def print_person_age(self, city):
        print(f'The person is {self.age} years old and lives in {city}')

Для унаследования Вашим классом другого класса, требуется передать его в аргументы класса, как указано ниже. 

В дочернем классе Вы также можете определить новые методы вдобавок к унаследованным.

In [75]:
class New_Employee(Person):

    def greet_employee(self):
        print(f'Greeting to our new member {self.name} {self.surname}')

Не забывайте при инициализации передать все необходимые параметры (метод инициализации унаследован от класса `Person`)

In [76]:
person_2 = New_Employee(name='Suzie', 
                        surname='Smith', 
                        age=27)

A Person is added

Применим новый метод

In [77]:
person_2.greet_employee()

Greeting to our new member Suzie Smith

Старые методы тоже никуда не подевались

In [78]:
print(person_2)

Object for Suzie Smith

In [79]:
person_2.print_person_age('Kansas')

The person is 27 years old and lives in Kansas

In [80]:
class Person:
    
    def __init__(self, name, surname, age):
        
        self.name = name
        self.surname = surname
        self.age = age
        
        print('A Person is added')

    def __str__(self):
        return f'Object for {self.name} {self.surname}'

    # Переписали функцию. Нам теперь не интересно то, из какого города работник
    def print_person_age(self):
        print(f'The person is {self.age} years old')

Также Вы можете добавлять различное количество методов в Ваш класс. Вы также можете изменить метод **`__init(..)__`**, т.к. у Вас могут появиться какие-то дополнительные параметры для инициализации.

Например, вы можете инициализировать Ваш класс как в примере ниже. Сперва с помощью встроенного метода `super().__init__(..)` Вы можете передать для инициализации инициализирующие значения родительского класса, а потом добавить дополнительные параметры.

Из некоторых источников (дабы не повторяться):

* super возвращает объект-посредник (прокси), делегирующий вызовы методов родителю или собрату класса указанного типа.

In [81]:
class Employee_Normal(Person):

    def __init__(self, name, surname, age, wage, hours_worked):
        super().__init__(name, surname, age)
        self.wage = wage
        self.hours_worked = hours_worked

    def greet_employee(self):
        print(f'Greeting to our new member {self.name} {self.surname}')

    def compute_salary(self, n_weeks=4.5):
        return self.hours_worked * self.wage * n_weeks

In [82]:
person_3 = Employee_Normal(name='Suzie', 
                           surname='Smith', 
                           age=27, 
                           wage=500, 
                           hours_worked=40)

A Person is added

In [83]:
print(person_3)

Object for Suzie Smith

In [84]:
person_3.print_person_age()

The person is 27 years old

In [85]:
person_3.compute_salary(n_weeks=2)

40000

## * 5.3. Полиморфизм и инкапсуляция

Более подробно про ООП можно прочитать, например, [тут](https://proglib.io/p/python-oop)

Также двумя столпами ООП является Полиморфизм и Инкапсуляция.

* Полиморфизм - возможность одному методу (с одинаковым названием) для объектов разного класса исполнять разные операции. В данном контексте под полиморфизмом понимается множество форм одного и того же слова – имени метода.
* Инкапсуляция - ограничение доступа к составляющим объект компонентам (методам и переменным). Инкапсуляция делает некоторые из компонент доступными только внутри класса.

Одиночное подчеркивание в начале имени атрибута говорит о том, что переменная или метод не предназначен для использования вне методов класса, однако атрибут доступен по этому имени.

Двойное подчеркивание в начале имени атрибута даёт большую защиту: атрибут становится недоступным по этому имени.

Примером полиморфизма является переопределения метода `print_person_age(..)` в классе `Employee_Normal_Ext`. Его поведение отлично от его поведения в классе `Person` (чуть-чуть переписали).

Примером инкапсуляции является метод `__not_use()`, который нельзя вызвать от объекта. Метод `_not_use_not_safe()` не был бы также виден в аттрибутах объекта, но его можно было бы вызвать.

In [86]:
class Employee_Normal_Ext(Person):

    def __init__(self, name, surname, age, wage, hours_worked):
        
        super().__init__(name, surname, age)
        self.wage = wage
        self.hours_worked = hours_worked

    def greet_employee(self):
        print(f'Greeting to our new member {self.name} {self.surname}')

    def print_person_age(self):
        print(f'{self.name} {self.surname} is {self.age} years old')

    def compute_salary(self, n_weeks):
        self.n_weeks = n_weeks # Можно также сохранить "в себя" переменную
        return self.hours_worked * self.wage * n_weeks

    # Python не позволит вызвать такой метод
    def __not_use(self):
        print('Not use')
    
    # Python позволит вызвать такой метод, но существует соглашение о том, что методы, которые начинаются с 
    # нижнего подчеркивания, вызывать не следует
    def _not_use_safe(self):
        print('Not use, but I cannot restrict you')

In [87]:
person_4 = Employee_Normal_Ext(name='Suzie', 
                               surname='Smith', 
                               age=27, 
                               wage=500, 
                               hours_worked=40)

A Person is added

In [88]:
person_4.print_person_age()

Suzie Smith is 27 years old

In [89]:
# person_4.__not_use()

In [90]:
person_4._not_use_safe()

Not use, but I cannot restrict you

До определения переменной `n_weeks` в методе `sompute_salary()`, мы не можем вызвать ее при обращении к классу. После определения вызвать ее уже получится

In [91]:
# person_4.n_weeks

In [92]:
person_4.compute_salary(n_weeks=2)

40000

In [93]:
person_4.n_weeks

2

## 5.4. Импортирование классов как библиотек

Для чего это нужно? Например, у Вас есть какой-то класс, который включает в себя несколько методов, которые, например, часто используются Вами для работы с какими-либо данными. Для того, чтобы каждый раз в новом документе не переопределять этот класс явно (в какой-то ячейке) и чтобы не загрязнять код, можно просто создать файл с расширением `.py`, в котором будет лежать класс, и просто импортировать его из рабочей директории.

На самом деле, применений такого подхода очень много, но это является основным для Вас в работе с данными.

Делается это все достаточно просто. Сейчас покажу :)

**1. Напишем класс `OptionsPricing` с методами, при помощи которых можно оценить цену Put или Call опциона.**

In [94]:
from scipy.stats import norm
import numpy as np

N = norm.cdf

class OptionsPricing():
    
    def __init__(self, S=100, K=100, T=1, r=0.05, q=0, sigma=0.2):
        
        self.S = S
        self.K = K
        self.T = T
        self.r = r
        self.q = q
        self.sigma = sigma
        
    def PRICE_CALL(self):

        d1 = (np.log(self.S / self.K) + (self.r - self.q + self.sigma**2 / 2) * self.T) / (self.sigma * np.sqrt(self.T))
        d2 = d1 - self.sigma * np.sqrt(self.T)
        
        return self.S * np.exp(-self.q * self.T) * N(d1) - self.K * np.exp(-self.r * self.T) * N(d2)
    
    def PRICE_PUT(self):
        
        d1 = (np.log(self.S / self.K) + (self.r - self.q + self.sigma**2 / 2) * self.T) / (self.sigma * np.sqrt(self.T))
        d2 = d1 - self.sigma * np.sqrt(self.T)
        
        return self.K * np.exp(-self.r * self.T) * N(-d2) - self.S * np.exp(-self.q * self.T) * N(-d1)

    def DELTA_CALL(self):
        
        d1 = (np.log(self.S / self.K) + (self.r - self.q + self.sigma**2 / 2) * self.T) / (self.sigma * np.sqrt(self.T))
        delta = np.exp(-self.q * self.T) * N(d1)
        
        return delta
    
    def DELTA_PUT(self):
        
        d1 = (np.log(self.S / self.K) + (self.r - self.q + self.sigma**2 / 2) * self.T) / (self.sigma * np.sqrt(self.T))
        delta = np.exp(-self.q * self.T) * (N(d1) - 1)
        
        return delta
    
    def GAMMA_CALL(self):
        
        d1 = (np.log(self.S / self.K) + (self.r - self.q + self.sigma**2 / 2) * self.T) / (self.sigma * np.sqrt(self.T))
        gamma = np.exp(-(d1**2 / 2 + self.q * self.T)) / (self.S * self.sigma * np.sqrt(2 * np.pi * self.T))
        
        return gamma
    
    def GAMMA_CALL(self):
        
        d1 = (np.log(self.S / self.K) + (self.r - self.q + self.sigma**2 / 2) * self.T) / (self.sigma * np.sqrt(self.T))
        gamma = np.exp(-(d1**2 / 2 + self.q * self.T)) / (self.S * self.sigma * np.sqrt(2 * np.pi * self.T))
        
        return gamma

In [95]:
call_option_1 = OptionsPricing(S=100, K=100, T=1, r=0.05, q=0, sigma=0.2)

call_option_1.PRICE_CALL(), call_option_1.DELTA_CALL(), call_option_1.GAMMA_CALL()

(10.450583572185565, 0.6368306511756191, 0.0187620173458469)

**2. Теперь создадим файл с разрешением `.py` и положим туда написанный класс. ОБЯЗАТЕЛЬНО в этот же документ нужно положить библиотеки, которыми вы ползуетесь внутри этого класса.**

Файл приложу.

**3. Попробуем импортировать нашу собственноручно написанную библиотеку.**

Можно испортировать весь файл целиком, но тогда придется при обращении к классу прописывать следующее: `FileName.ClassName()`. Удобнее из файла `FileName` импортировать модуль `ClassName`.

In [96]:
from OptionsPricing import OptionsPricing as OP

In [97]:
call_option_1 = OP(S=100, K=100, T=1, r=0.05, q=0, sigma=0.2)

call_option_1.PRICE_CALL(), call_option_1.DELTA_CALL(), call_option_1.GAMMA_CALL()

(10.450583572185565, 0.6368306511756191, 0.0187620173458469)

Вау! Мы написали собственный модуль и теперь можем им пользоваться, при этом не захламляя код!!!

Здесь мы импортировали этот модуль из той директории, в которой лежит ноутбук, в котором мы работаем. Однако мы также можем выбирать то, из какой директории испортировать файл при помощи библиотеки `sys`, которая используется для определения пути до того или иного файла.

In [98]:
import sys

path = '/Users/egorsivykh/Documents/BS' # Местоположение файла на диске
sys.path.append(path)

from OptionsPricing import OptionsPricing as OP2

In [99]:
call_option_1 = OP2(S=100, K=100, T=1, r=0.05, q=0, sigma=0.2)

call_option_1.PRICE_CALL(), call_option_1.DELTA_CALL(), call_option_1.GAMMA_CALL()

(10.450583572185565, 0.6368306511756191, 0.0187620173458469)

Пользуйтесь :)